@import '../../define.scss';

$button-border-radius: 5px;

.grid-panel-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding-bottom: $panel-h-padding;
}

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  color: currentColor;

  pointer-events: fill;

  :global(svg) {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }
}

.row-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  background-color: white;
  opacity: 0.93;

  border-bottom: 1px solid $gray-200;
  padding: 8px $panel-h-padding 6px $panel-h-padding;
  gap: 4px;

  position: sticky;
  top: 0px;
  z-index: 2;

  .label {
    font-size: 1rem;
    font-weight: 400;
    color: $gray-600;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #hidden-select {
    display: none;

    &::after {
      display: none;
    }
  }

  .select {
    position: relative;
    border-radius: 4px;
    border: 1px solid $gray-light-border;
    margin: 0 0 0 4px;
    line-height: 1.2;

    select {
      padding: 0 16px 0 6px;
      margin: 0px;
      border: none;
      position: relative;
      background-color: transparent;
      color: $gray-600;
      background-color: white;
      font-weight: 400;

      -moz-appearance: none;
      -webkit-appearance: none;
    }

    &::after {
      right: 6px;

      $select-border-color: $gray-600;
      border-right: 2px solid $select-border-color;
      border-top: 2px solid $select-border-color;

      content: '';
      display: block;
      height: 6px;
      width: 6px;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(135deg);
      transform-origin: center;
    }
  }

  .svg-icon {
    fill: $gray-400;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;

    :global(svg) {
      width: 1rem;
      height: 1rem;
    }
  }
}

.card-panel {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  width: 100%;
  height: 100%;
  padding: $panel-h-padding $panel-h-padding;
  background-color: $gray-50;

  .card {
    width: 170px;
    box-shadow: 0px 0px 6px hsla(0, 0%, 0%, 0.07);
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    border-radius: 6px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    transition: transform 100ms ease-in-out, box-shadow 100ms ease-in-out;

    &:hover {
      transform: scale(1.02);
      transform-origin: center;
      box-shadow: 0px 0px 8px hsla(0, 0%, 0%, 0.13);
    }

    &:active {
      transform: scale(1.02) translateY(1px);
      // box-shadow: 0px 0px 9px hsla(0, 0%, 0%, 0.18);
    }

    .thumbnail {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: center;
      border-bottom: 1px solid $gray-300;
    }

    .name {
      width: 100%;
      padding: 0 5px;
      font-size: $font-d1;
      background-color: white;
      text-align: center;
    }
  }
}
