.ipynb_checkpoints
dataset
/node_modules/
/public/build/
package-lock.json
pnpm-lock.yaml
.DS_Store
*.swp

.vercel
deploy-gh-page.sh
publish.sh
publish*
dist
gh-page
explorer
lite
__pycache__

metadata/*.html
metadata/*.bib
metadata/thumbnails
metadata/resources
metadata/github-issues
metadata/stat*