@import '../../define.scss';

.supernova-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;

  position: relative;
}

.main-app {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 300px minmax(0px, 1fr);
  position: relative;

  width: 100%;
  height: 100%;

  overflow-x: hidden;
  overflow-y: hidden;
}

.header-container {
  grid-row: 1 / 2;
  grid-column: 1 / 3;

  display: flex;
  background-color: $teal-900;
  border-bottom: 1px solid hsla(0, 100%, 100%, 0.2);
}

.search-container {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  display: flex;
  padding: $panel-v-padding $panel-h-padding;
  background-color: $teal-900;
  overflow-y: auto;
}

.card-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  display: flex;
  overflow-y: auto;
}

.popper-tooltip {
  position: absolute;
  width: max-content;
  left: 0px;
  top: 0px;
  z-index: 20;
  background: #222;
  color: white;
  box-shadow: 0 0 1px hsla(0, 0%, 0%, 0.6), 0 0 3px hsla(0, 0%, 0%, 0.05);
  padding: 2px 6px 4px 6px;
  border-radius: 4px;
  font-size: $font-d2;

  display: flex;
  justify-content: center;
  box-sizing: border-box;
  pointer-events: none;
  text-align: center;

  opacity: 1;
  transition: opacity 150ms, visibility 150ms;

  &.hidden {
    opacity: 0;
  }

  &#popper-tooltip-bottom {
    z-index: 19;
    background: $purple-900;

    .popper-arrow {
      background: $purple-900;
    }
  }

  .popper-content {
    max-width: 300px;
    max-height: 200px;
    line-height: 1.5;
    overflow: hidden;
  }

  .popper-arrow {
    position: absolute;
    background: #222;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
  }
}
