@import '../../define.scss';

.header-wrapper {
  width: 100%;
  height: 100%;
  padding: $panel-v-padding $panel-h-padding;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: white;
}

.header-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  display: flex;
  align-items: baseline;
  gap: 10px;

  cursor: default;

  .app-title {
    font-size: 1.625rem;
    font-variant: small-caps;
  }

  .app-tagline {
    // font-size: 1.5rem;
  }
}

.right-content {
  display: flex;
  gap: 16px;

  a {
    color: white;
  }
}
